APP_NAME=vestylle-webapi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=vestylle-webapi
DB_USERNAME=default
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

VESTYLLE_DB_HOST=vestyllemegastore.no-ip.net
VESTYLLE_DB_PORT=3309
VESTYLLE_DB_DATABASE=
VESTYLLE_DB_USERNAME=
VESTYLLE_DB_PASSWORD=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

PHP_FPM_INSTALL_GMP=true

## Informações para lidar com o cloudinary
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=tesseract
CLOUDINARY_CLOUD_FOLDER=vestylle

URL_FRONT_CUPON=https://dev-vestylle-pwa.herokuapp.com/meuscupons/

EMAIL_DESTINO_CONTATO='teste@teste.com'
EMAIL_ORIGEM_CONTATO='teste@teste.com'
