APP_NAME=vestylle-webapi
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=vestylle-webapi
DB_USERNAME=default
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

VESTYLLE_DB_HOST=vestyllemegastore.no-ip.net
VESTYLLE_DB_PORT=3309
VESTYLLE_DB_DATABASE=vegas_teste
VESTYLLE_DB_USERNAME=vest
VESTYLLE_DB_PASSWORD=vest@123

VAPID_PUBLIC_KEY=BIJm2e5LVBfLbpLF6XLI92izLqbStL+UbRBFq99XUZ4R4OLqL/2B4wZEe7rHuARapjRVphbxQxyVta0Azo/2dKA=
VAPID_PRIVATE_KEY=HVNqEygBGrD/CM7O4HSIZwC8kcDxgCO+suzLLI7gtNQ=

PHP_FPM_INSTALL_GMP=true
