
.controles-cropper {
    margin-top:2rem;
}

/* Limit image width to avoid overflow the container */
img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
    max-height: 50vh;
}

#canvas {
    height: 600px;
    width: 100%; /* 600px; */
    background-color: #ffffff;
    cursor: default;
    border: 1px solid black;
}

/* Custom styles for this template */
body {
    overflow-y: scroll;
}

#result {
    margin-top: 5rem;
}

